body {
    background-color: aquamarine;
    height: 100%;
    width:100%;
    color: #3a1986;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid black;
    margin: 3;
    }

   
   #stopwatchset {
    font-size: 48px;
    border: 2px solid black;
   }
   
   button {
    background-color: #233c8d;
    color: #0f0f0f;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
   }
   
   button:hover {
    background-color: #777;
   }
